{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}

            <h1 class="h3 mt-5 mb-3 font-weight-normal text-center">Please sign in</h1>
            <p class="mb-3 text-muted text-center">Your pins waiting for you!</p>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="d-flex justify-content-between mt-3">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
                        <label class="form-label" for="remember_me">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <a href="{{ path('app_forgot_password_request') }}"> Forget password</a>
                </div>
            </div>


            <div class="mt-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Log in
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}