{% extends 'layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


{# <a href="{{ path("app_pins_create") }}" title="create a new pin">create a new pin</a> #}

{% if pins|length > 0 %}
<h1 class="mb-4 text-muted text-center">{{ pluralize(pins|length ,'Pin') }}</h1>
{% for row in pins|batch(3) %}
<div class="row mb-5">
    {% for pin in row %}
    <div class="col-md-4">
        <article class="pin">
            <div class="card ml-2 mb-2 bg-white rounded shadow">
                <div class="mw-100 overflow-hidden">
                    <a href="{{ path('app_pins_show',{id:pin.id}) }}">
                        <img src="{{ ( pin.imageName ? vich_uploader_asset(pin) : asset('img/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ pin.title}}" class="card-img-top w-100">
                    </a>
                </div>
                <div class="card-body">
                    <h1 class="h3 card-title pl-3 pt-2"> <a href="{{ path('app_pins_show',{id:pin.id}) }}" class="text-decoration-none text-secondary" title="{{ pin.title }}">{{ pin.title }}</a></h1>
                    <p class="card-text pl-3 pb-3">
                        <small class="text-muted">
                            submitted by [OWNER]
                        </small>
                        {# {{ pin.description |  u.truncate(10,'...',false) }} #}
                        {# <p><small><time datetime="{{ pin.updatedAt| date('d-m-Y h:m:i') }}">updated:{{ pin.updatedAt| ago(locale ='en') }}</time>
                            </small></p> #}

                    </p>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endfor %}






{% else %}
<p class="text-muted h1 mt-5 text-center">No pins yet! <a href="{{ path('app_pins_create') }}">Be the first</a> </p>
{% endif %}


{% endblock %}