{% extends 'layouts/base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="h3 mt-5 my-3 text-center">Create an account </h1>
        <p class="mb-3 text-muted text-center">Your pins waiting for you!</p>
        {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(registrationForm.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(registrationForm.lastName) }}
            </div>
        </div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
        <p class="text-center text-muted mt-4">
            <a href="{{ path('app_login') }}">Already have an account, Log in</a>
        </p>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock %}