<nav id="main-nav" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">Panterest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_pins_create') }}">New Pin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a id="js-logout-link" class="nav-link" href="#">Logout</a>
                </li>
                <form id="js-logout-form" action="{{ logout_path('main') }} " method="POST" style="display: none;">
                    <input type="text" name="_csrf_token" value="{{ csrf_token('logout')}}">
                </form>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>

                {% endif %}

            </ul>

        </div>
    </div>
</nav>

{% block javascripts %}
<script>
    let logoutLink = document.querySelector('#js-logout-link')
    logoutLink.addEventListener('click', (e) => {
        e.preventDefault
        document.querySelector('#js-logout-form').submit()
    })
</script>
{% endblock %}